.div-main {
  margin-top: 2%;
}

.img {
  width: 400px;
  height: 400px;
  margin-left: 19%;
  margin-right: 19%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 9px 31px 23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 31px 23px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 31px 23px rgba(0, 0, 0, 0.75);
}
